#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import users table:

In [2]:
# Import comma-separated variable file
users_table = pd.read_csv('users_table.csv')

#### 3. Rename Id column to userId

In [11]:


users_table.rename(columns={'Id':'userId'}, inplace=True)

users_table.head()

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

#### 4. Import posts table:

In [4]:
posts_table= pd.read_csv('posts_table.csv')
posts_table.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 5. Rename Id column to postId and OwnerUserId to userId

In [5]:
posts_table.rename(columns={'Id':'postId', 'OwnerUserId':'userId'}, inplace=True)

posts_table.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [6]:
users_table = users_table [['userId', 'Reputation','Views','UpVotes','DownVotes']]

In [7]:
posts_table = posts_table [['postId', 'Score','userId','ViewCount','CommentCount']]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [8]:
merged_user_posts = users_table.merge(posts_table)
merged_user_posts

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
5,-1,1,0,5007,1920,9857,0,NaN,0
6,-1,1,0,5007,1920,9858,0,NaN,0
7,-1,1,0,5007,1920,9860,0,NaN,0
8,-1,1,0,5007,1920,10130,0,NaN,0
9,-1,1,0,5007,1920,10131,0,NaN,0
10,-1,1,0,5007,1920,15331,0,NaN,0
11,-1,1,0,5007,1920,15332,0,NaN,0
12,-1,1,0,5007,1920,16296,0,NaN,0
13,-1,1,0,5007,1920,16366,0,NaN,0
14,-1,1,0,5007,1920,19423,0,NaN,0
15,-1,1,0,5007,1920,19848,0,NaN,0
16,-1,1,0,5007,1920,20259,0,NaN,0
17,-1,1,0,5007,1920,20261,0,NaN,0
18,-1,1,0,5007,1920,20262,0,NaN,0
19,-1,1,0,5007,1920,20263,0,NaN,0
20,-1,1,0,5007,1920,20264,0,NaN,0
21,-1,1,0,5007,1920,20485,0,NaN,0
22,-1,1,0,5007,1920,20487,0,NaN,0
23,-1,1,0,5007,1920,20489,0,NaN,0
24,-1,1,0,5007,1920,20490,0,NaN,0
25,-1,1,0,5007,1920,21497,0,NaN,0
26,-1,1,0,5007,1920,21795,0,NaN,0
27,-1,1,0,5007,1920,21856,0,NaN,0
28,-1,1,0,5007,1920,21860,0,NaN,0
29,-1,1,0,5007,1920,21861,0,NaN,0
...,...,...,...,...,...,...,...,...,...
38932,27581,1159,112,186,12,33250,0,NaN,0
38933,27581,1159,112,186,12,40831,0,NaN,0
38934,27581,1159,112,186,12,40833,0,NaN,0
38935,30893,116,2,0,0,19444,3,61.0,1
38936,31017,160,6,6,0,46345,4,3221.0,1
38937,31124,166,5,3,0,14544,6,NaN,2
38938,31388,11,0,0,0,38872,1,NaN,0
38939,32036,7227,991,2664,143,28258,0,NaN,0
38940,35234,171,0,0,0,23445,14,840.0,0
38941,35705,16,0,0,0,19577,3,409.0,0
38942,35921,113,2,1,0,16397,-2,NaN,1
38943,36602,121,0,2,0,27672,4,2244.0,1
38944,37890,111,0,0,0,41240,1,NaN,3
38945,40342,121,1,1,0,32863,4,144.0,6
38946,42201,131,0,0,0,10683,3,NaN,0
38947,43908,384,77,18,0,24072,2,2361.0,4
38948,43908,384,77,18,0,24107,0,551.0,5
38949,43908,384,77,18,0,25702,1,228.0,0
38950,43908,384,77,18,0,25811,47,4463.0,11
38951,43908,384,77,18,0,26326,3,820.0,6
38952,43908,384,77,18,0,26469,0,124.0,0
38953,43908,384,77,18,0,26927,1,2259.0,0
38954,44618,128,1,0,0,21104,3,3650.0,6
38955,44915,1,0,0,0,34012,0,81.0,0
38956,44995,11,9,0,0,44474,1,446.0,1
38957,45934,11,1,0,0,34003,1,115.0,2
38958,46192,36,1,0,0,40667,5,326.0,2
38959,46522,235,13,27,1,17461,3,166.0,0
38960,52371,221,2,0,0,27237,24,3357.0,5
38961,55226,119,2,3,0,16176,1,NaN,0

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [9]:
merged_user_posts.isnull().sum()


## 23572, on the ViewCount

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       23572
CommentCount        0
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [ ]:
# I would leave the ViewCount out, it's a very big piece of the data base and filling them would give very inaccurate results

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [13]:
# adjusting post_table, leaving ViewCount out so it would be:

posts_table_without_ViewCount =  posts_table [['postId', 'Score','userId','CommentCount']]
merged_user_posts_without_ViewCount = users_table.merge(posts_table_without_ViewCount)
merged_user_posts_without_ViewCount

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,CommentCount
0,-1,1,0,5007,1920,2175,0,0
1,-1,1,0,5007,1920,8576,0,0
2,-1,1,0,5007,1920,8578,0,0
3,-1,1,0,5007,1920,8981,0,0
4,-1,1,0,5007,1920,8982,0,0
5,-1,1,0,5007,1920,9857,0,0
6,-1,1,0,5007,1920,9858,0,0
7,-1,1,0,5007,1920,9860,0,0
8,-1,1,0,5007,1920,10130,0,0
9,-1,1,0,5007,1920,10131,0,0
10,-1,1,0,5007,1920,15331,0,0
11,-1,1,0,5007,1920,15332,0,0
12,-1,1,0,5007,1920,16296,0,0
13,-1,1,0,5007,1920,16366,0,0
14,-1,1,0,5007,1920,19423,0,0
15,-1,1,0,5007,1920,19848,0,0
16,-1,1,0,5007,1920,20259,0,0
17,-1,1,0,5007,1920,20261,0,0
18,-1,1,0,5007,1920,20262,0,0
19,-1,1,0,5007,1920,20263,0,0
20,-1,1,0,5007,1920,20264,0,0
21,-1,1,0,5007,1920,20485,0,0
22,-1,1,0,5007,1920,20487,0,0
23,-1,1,0,5007,1920,20489,0,0
24,-1,1,0,5007,1920,20490,0,0
25,-1,1,0,5007,1920,21497,0,0
26,-1,1,0,5007,1920,21795,0,0
27,-1,1,0,5007,1920,21856,0,0
28,-1,1,0,5007,1920,21860,0,0
29,-1,1,0,5007,1920,21861,0,0
...,...,...,...,...,...,...,...,...
38932,27581,1159,112,186,12,33250,0,0
38933,27581,1159,112,186,12,40831,0,0
38934,27581,1159,112,186,12,40833,0,0
38935,30893,116,2,0,0,19444,3,1
38936,31017,160,6,6,0,46345,4,1
38937,31124,166,5,3,0,14544,6,2
38938,31388,11,0,0,0,38872,1,0
38939,32036,7227,991,2664,143,28258,0,0
38940,35234,171,0,0,0,23445,14,0
38941,35705,16,0,0,0,19577,3,0
38942,35921,113,2,1,0,16397,-2,1
38943,36602,121,0,2,0,27672,4,1
38944,37890,111,0,0,0,41240,1,3
38945,40342,121,1,1,0,32863,4,6
38946,42201,131,0,0,0,10683,3,0
38947,43908,384,77,18,0,24072,2,4
38948,43908,384,77,18,0,24107,0,5
38949,43908,384,77,18,0,25702,1,0
38950,43908,384,77,18,0,25811,47,11
38951,43908,384,77,18,0,26326,3,6
38952,43908,384,77,18,0,26469,0,0
38953,43908,384,77,18,0,26927,1,0
38954,44618,128,1,0,0,21104,3,6
38955,44915,1,0,0,0,34012,0,0
38956,44995,11,9,0,0,44474,1,1
38957,45934,11,1,0,0,34003,1,2
38958,46192,36,1,0,0,40667,5,2
38959,46522,235,13,27,1,17461,3,0
38960,52371,221,2,0,0,27237,24,5
38961,55226,119,2,3,0,16176,1,0

In [14]:
merged_user_posts_without_ViewCount.isnull().sum()

userId          0
Reputation      0
Views           0
UpVotes         0
DownVotes       0
postId          0
Score           0
CommentCount    0
dtype: int64